<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICallRecordingService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/CallRecordingService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICallRecordingService"
                contract="ServiceReference.ICallRecordingService" name="WSHttpBinding_ICallRecordingService">
                <identity>
                    <servicePrincipalName value="host/DESKTOP-9L9KHRB" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>