<configuration>
	<system.serviceModel>
		<services>
			<service name="CallRecordingService.CallRecordingService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/CallRecordingService"/>
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsHttpBinding" contract="CallRecordingService.ICallRecordingService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="True"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
